.container {
  margin: 0 200px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
}

.hot-contents {
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
  margin: 20px 0;
  flex-wrap: nowrap;
}

.hot-contents .content {
  flex-basis: 19%;
  background-color: #e8e8e8;
  padding: 10px;
  box-sizing: border-box;
  margin-right: 10px;
  text-align: center;
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.controls button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.controls button:focus {
  outline: none;
}
